<div>
    <div class="container">
      <div class="score-grid">
        <div class="score-card" (click)="navigateToReports()">
           <img alt="Logo" src="../../../assets/images/upload.png">          
            <h2>Încarcă rapid rapoarte</h2>
            <p> Adaugă cu ușurință analizele tale medicale, iar aplicația va extrage automat informațiile importante pentru tine.</p>
          </div>
        <div class="score-card" (click)="navigateToReports()">
            <img alt="Logo" src="../../../assets/images/folder.png">
            <h2>Accesează istoricul tău medical</h2>
            <p>Păstrează tot istoricul medical într-un singur loc pentru o gestionare mai eficientă a sănătății tale - fără riscul de a pierde documente</p>
          </div>
        <div class="score-card" (click)="navigateToCharts()">
          <img alt="Logo" src="../../../assets/images/bar-chart.png">
          <h2>Monitorizează progresul sănătății</h2>
          <p>Vizualizează schimbările în timp pentru fiecare parametru analizat, cu grafice clare și intuitive care îți arată evoluția stării tale de sănătate.</p>
        </div>
        <div class="score-card" (click)="navigateToScores()">
          <img alt="Logo" src="../../../assets/images/search.png">
          <h2>Identifică riscuri de sănătate</h2>
          <p>Află ce boli sau afecțiuni ai putea dezvolta pe baza analizelor tale medicale, folosind modele avansate de inteligență artificială.</p>
        </div>
      </div>
    </div>
</div>